<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

<title>{{ query.name }} (appID: {{ query.id }})</title>

{% if query %}
<img class="illustration" title="Query: {{ query.name }}"
     alt = "{{ query.name }}" width="{{ width }}" height="{{ height }}"
     src="{{ query.steam_illustration_url }}">
{% else %}
{% if verbose %}
No query.
{% endif %}
{% endif %}

{% if similar_apps %}
{% for app in similar_apps %}
<a href="{{ app.link_url }}">
<img class="illustration" title="Match n°{{ loop.index }}: {{ app.name }}"
     alt = "{{ app.name }}" width="{{ width }}" height="{{ height }}"
     src="{{ app.steam_illustration_url }}">
</a>
{% endfor %}
{% else %}
{% if verbose %}
No match.
{% endif %}
{% endif %}
